@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#start {
    color: white;
    text-align: center;
    font-family: 'LINESeedKR-Bd';
    height: 94vh;
}
.first {
    font-size: 200px;
    transform: translateY(150%);
}
h1 {
    color: whitesmoke;
}
.left, .right {
    color: #7500fa;
}
